@import url("https://fonts.googleapis.com/css2?family=Charis+SIL:wght@400;700&family=Montserrat:wght@400;500;600;700&family=Poppins:wght@300;400;500&display=swap");

/* 
font-family: 'Charis SIL', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;

*/
* {
    margin: 0;
    padding: 0;
}
:root {
    --primary-dark: #15133c;
    --primary-light: #ff8c8c;
    --bg-gray: #fcf3f3;
    --text-color: #4f4e58;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
}

a,
p,
span,
small {
    font-family: "Poppins", sans-serif;
}
.section-padding {
    padding: 50px 0;
}

.section-heading {
    padding-bottom: 50px;
}
.section-heading span {
    font-size: 14px;
    font-weight: 600;
    color: var(--primary-light);
}
.section-heading h2 {
    margin-top: 15px;
    color: var(--primary-dark);
    font-size: 40px;
    font-weight: 700;
}

/* Header CSS  */

.logo {
    font-family: "Charis SIL", serif;
    font-size: 2rem;
    font-weight: 700;
}
.logo span {
    color: var(--primary-light);
}
.navbar-nav .nav-item .nav-link {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: var(--primary-dark);
    padding: 5px 20px;
}
.navbar-nav .nav-item .nav-link span {
    position: relative;
    padding-bottom: 5px;
}
.navbar-nav .nav-item .nav-link span::before {
    position: absolute;
    content: "";
    width: 0%;
    bottom: 0;
    left: 0;
    height: 3px;
    background-color: var(--primary-light);
    transition: 0.3s all;
}
.navbar-nav .nav-item .nav-link:hover span::before {
    width: 100%;
}

/* HERO CSS */
.hero-content-wrap {
    height: 600px;
}
.hero-info-wrap {
    height: 100%;
}
.hero-info {
    width: 70%;
}
.hero-info span {
    font-weight: 500;
    color: var(--primary-light);
}
.hero-info h1 {
    font-size: 60px;
    font-weight: 900;
    color: var(--primary-dark);
}
.hero-info p {
    color: var(--text-color);
}
.hero-info p .buy-now-btn {
    background-color: var(--primary-light);
    color: #fff;
    border: 1px solid var(--primary-light);
    border-radius: 20px;
}
/* HERO CSS END */

/* ABOUT CSS  */
.about-text {
    width: 80%;
    margin-left: 20px;
}
.about-text h2 {
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 25px;
    color: var(--primary-dark);
}
.about-text p {
    color: var(--text-color);
    line-height: 1.5rem;
}
.about-text h3 {
    font-size: 25px;
    color: var(--primary-dark);
    font-weight: 600;
    padding-top: 20px;
}
/* ABOUT CSS END */

/* Counter CSS  */
.counter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 10px;
    background-color: var(--bg-gray);
}
.counter h3 {
    font-weight: 600;
}
.counter p {
    font-size: 14px;
    margin-bottom: 0;
}

/* Counter CSS END */

/* Chapter CSS  */

#chapter {
    position: relative;
}
.nav-stiky {
    position: sticky;
    top: 100px;
}

.chapter-details {
    background-color: var(--bg-gray);
    margin: 70px 0;
    padding: 30px;
}
.chapter-details p {
    color: var(--text-color);
    font-size: 14px;
    line-height: 1.7rem;
}
.chapter-details h5 {
    color: var(--primary-dark);
    font-weight: 600;
    padding: 30px 0;
}
.nav-stiky .nav-pills .chapter-nav-link {
    color: var(--primary-dark);
    font-weight: 600;
    font-size: 14px;
    margin: 5px 0;
    transition: 0.3s all;
}
.nav-stiky .nav-pills .chapter-nav-link.active::before {
    position: absolute;
    content: "";
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 3px;
    background-color: var(--primary-light);
}
.nav-stiky .nav-pills .chapter-nav-link.active {
    background-color: transparent;
    color: var(--primary-light);
    transform: translateX(20px);
    position: relative;
}

/* Chapter CSS END */

/* Service CSS  */
.sercvice {
    background-color: var(--bg-gray);
    padding: 30px 10px;
}
.service-title h4 {
    font-size: 16px;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 15px;
    color: var(--primary-dark);
    position: relative;
}
.service-title h4::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--primary-light);
    width: 30px;
    height: 3px;
}
.service-des p {
    font-size: 14px;
    color: var(--text-color);
    line-height: 1.5rem;
}
/* Service CSS END */

/* Testimonial CSS  */
#testimonial {
    position: relative;
}
.testimonial-bg {
    position: absolute;
    width: 100%;
    height: 400px;
    background-image: url("../assets/images/testimonial-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.testimonial-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--primary-light);
    opacity: 0.7;
    z-index: 5656;
}
.review-slider {
    margin-top: 50px;
}
.testimonial-heading {
    padding: 70px 0;
}
.testimonial-heading span {
    color: #fff;
}
.testimonial-heading h2 {
    color: #fff;
}
.testimonial-content {
    position: relative;
    z-index: 89898989;
}
.single-review {
    background-color: var(--bg-gray);
    padding: 25px 20px;
    margin: 10px;
    border-radius: 8px;
}
.review-text p {
    font-size: 14px;
    color: var(--text-color);
}
.person-img {
    width: 80px;
}
.person-img img {
    width: 100%;
    clip-path: circle(50% at 50% 50%);
}
.person-details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 10px;
}
.person-details .name {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 0;
}
.person-details span {
    font-size: 12px;
    color: var(--text-color);
}
.owl-dots .owl-dot.active span {
    background: var(--primary-light) !important;
}
.owl-dots .owl-dot:hover span {
    background: var(--primary-light) !important;
}
/* Testimonial CSS END */

/* Projects Section CSS */
.book {
    position: relative;
}
.book-details {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #00000070;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 20px;
    opacity: 0;
    transition: 0.3s all;
}

.book:hover .book-details {
    opacity: 1;
}
.book:hover h4 {
    opacity: 1;
}
/* Projects Section CSS END */
