@import url("https://fonts.googleapis.com/css2?family=Charis+SIL:wght@400;700&family=Montserrat:wght@400;500;600;700&family=Poppins:wght@300;400;500&display=swap");

/* 
font-family: 'Charis SIL', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;

*/
* {
    margin: 0;
    padding: 0;
}
:root {
    --primary-dark: #15133c;
    --primary-light: #ff8c8c;
    --bg-gray: #fcf3f3;
    --text-color: #4f4e58;
}

/* Common CSS  */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
}

a,
p,
span,
small {
    font-family: "Poppins", sans-serif;
}
a {
    text-decoration: none;
}
.section-padding {
    padding: 50px 0;
}

.section-heading {
    padding-bottom: 50px;
}
.section-heading span {
    font-size: 14px;
    font-weight: 600;
    color: var(--primary-light);
}
.section-heading h2 {
    margin-top: 15px;
    color: var(--primary-dark);
    font-size: 40px;
    font-weight: 700;
}
/* Common CSS END */

/* ------------------------------------------- */

/* ---effect start---- */
.effect {
    position: absolute;
    z-index: -1;
}
.effect_1,
.effect_3 {
    left: 2%;
    bottom: 8%;
    transform: rotate(-48deg);
    color: #d4cdfd;
    font-size: 20px;
    animation: spin_1 3s linear infinite;
    font-weight: bold;
}
.effect_2 {
    left: 45%;
    bottom: 4%;
    font-size: 22px;
    color: #6883de;
    animation: spin_1 3s linear infinite;
}
.effect_3 {
    left: 49%;
    bottom: 27%;
}
.effect_4 {
    top: 8%;
    left: 60%;
    background: -webkit-linear-gradient(red, orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 28px;
    font-weight: 900;
    animation: bounceTop 1s linear infinite alternate;
}
.effect_5,
.effect_6 {
    right: 5%;
    bottom: 10%;
    background: -webkit-linear-gradient(red, orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 28px;
    font-weight: 900;
    animation: bounceTop 1s linear infinite alternate;
}
.effect_6 {
    top: 10%;
    left: 10%;
    background: -webkit-linear-gradient(#6883de, #d4cdfd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.effect_7 {
    left: 30%;
    top: 25%;
    width: 50px;
    height: 50px;
    border: 2px solid #6883de;
    transform: rotate(-45deg);
    animation: spin_1 8s linear infinite;
}
@keyframes spin_1 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes bounceTop {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(10px);
    }
}
/* ---effect end---- */

/* Header CSS  */

.logo {
    font-family: "Charis SIL", serif;
    font-size: 2rem;
    font-weight: 700;
}
.logo span {
    color: var(--primary-light);
}
.navbar-nav .nav-item .nav-link {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: var(--primary-dark);
    padding: 5px 20px;
}
.navbar-nav .nav-item .nav-link span {
    position: relative;
    padding-bottom: 5px;
}
.navbar-nav .nav-item .nav-link span::before {
    position: absolute;
    content: "";
    width: 0%;
    bottom: 0;
    left: 0;
    height: 3px;
    background-color: var(--primary-light);
    transition: 0.3s all;
}
.navbar-nav .nav-item .nav-link:hover span::before,
.navbar-nav .nav-item .nav-link:focus span::before {
    width: 100%;
}
.navbar-collapse .navbar-nav {
    text-align: center;
    padding: 5px 0;
}
/* Header CSS END */

/* HERO CSS */
.hero-content-wrap {
    height: 600px;
}
.hero-info-wrap {
    height: 100%;
}
.hero-info {
    width: 70%;
}
.hero-info span {
    font-weight: 500;
    color: var(--primary-light);
}
.hero-info h1 {
    font-size: 60px;
    font-weight: 900;
    color: var(--primary-dark);
}
.hero-info p {
    color: var(--text-color);
}
.hero-info p .buy-now-btn {
    background-color: var(--primary-light);
    color: #fff;
    border: 1px solid var(--primary-light);
    border-radius: 20px;
}
.hero-img {
    animation-name: heroImg;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
@keyframes heroImg {
    0% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(20px);
    }
}
/* HERO CSS END */

/* ABOUT CSS  */
.about-text {
    width: 80%;
    margin-left: 20px;
}
.about-text h2 {
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 25px;
    color: var(--primary-dark);
}
.about-text p {
    color: var(--text-color);
    line-height: 1.5rem;
}
.about-text h3 {
    font-size: 25px;
    color: var(--primary-dark);
    font-weight: 600;
    padding-top: 20px;
}
/* ABOUT CSS END */

/* Counter CSS  */
.counter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 10px;
    background-color: var(--bg-gray);
}
.counter h3 {
    font-weight: 600;
}
.counter p {
    font-size: 14px;
    margin-bottom: 0;
}

/* Counter CSS END */

/* Chapter CSS  */
#chapter {
    position: relative;
}
.nav-stiky {
    position: sticky;
    top: 100px;
}

.chapter-details {
    background-color: var(--bg-gray);
    margin: 70px 0;
    padding: 30px;
}
.chapter-details p {
    color: var(--text-color);
    font-size: 14px;
    line-height: 1.7rem;
}
.chapter-details h5 {
    color: var(--primary-dark);
    font-weight: 600;
    padding: 30px 0;
}
.nav-stiky .nav-pills .chapter-nav-link {
    color: var(--primary-dark);
    font-weight: 600;
    font-size: 14px;
    margin: 5px 0;
    transition: 0.3s all;
}
.nav-stiky .nav-pills .chapter-nav-link.active::before {
    position: absolute;
    content: "";
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 3px;
    background-color: var(--primary-light);
}
.nav-stiky .nav-pills .chapter-nav-link.active {
    background-color: transparent;
    color: var(--primary-light);
    transform: translateX(20px);
    position: relative;
}

/* Chapter CSS END */

/* Service CSS  */
.service {
    background-color: var(--bg-gray);
    padding: 30px 10px;
}
.service-title h4 {
    font-size: 16px;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 15px;
    color: var(--primary-dark);
    position: relative;
}
.service-title h4::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--primary-light);
    width: 30px;
    height: 3px;
}
.service-des p {
    font-size: 14px;
    color: var(--text-color);
    line-height: 1.5rem;
}
/* Service CSS END */

/* Testimonial CSS  */
#testimonial {
    position: relative;
}
.testimonial-bg {
    position: absolute;
    width: 100%;
    height: 400px;
    background-image: url("../assets/images/testimonial-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.testimonial-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--primary-light);
    opacity: 0.7;
    z-index: 5656;
}
.review-slider {
    margin-top: 50px;
}
.testimonial-heading {
    padding: 70px 0;
}
.testimonial-heading span {
    color: #fff;
}
.testimonial-heading h2 {
    color: #fff;
}
.testimonial-content {
    position: relative;
    z-index: 89898989;
}
.single-review {
    background-color: var(--bg-gray);
    padding: 25px 20px;
    margin: 10px;
    border-radius: 8px;
}
.review-text p {
    font-size: 14px;
    color: var(--text-color);
}
.person-img {
    width: 80px;
}
.person-img img {
    width: 100%;
    clip-path: circle(50% at 50% 50%);
}
.person-details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 10px;
}
.person-details .name {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 0;
}
.person-details span {
    font-size: 12px;
    color: var(--text-color);
}
.owl-dots .owl-dot.active span {
    background: var(--primary-light) !important;
}
.owl-dots .owl-dot:hover span {
    background: var(--primary-light) !important;
}
/* Testimonial CSS END */

/* Projects Section CSS */
.book {
    position: relative;
}
.book-details {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #00000070;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 20px;
    opacity: 0;
    transition: 0.3s all;
}

.book:hover .book-details {
    opacity: 1;
}
.book:hover h4 {
    opacity: 1;
}
/* Projects Section CSS END */

/* Author CSS  */
.author-content {
    background-color: var(--bg-gray);
}
.author-details-wrap {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 2rem;
}
.author-details .small-heading {
    font-size: 13px;
    font-weight: 600;
    color: var(--primary-light);
}
.author-details ul {
    margin-left: 0;
    padding-left: 0;
}
.author-details ul li {
    margin: 10px 0;
}
.author-details h2 {
    font-size: 40px;
    font-weight: 600;
    color: var(--primary-dark);
    margin-top: 20px;
}
.author-details p {
    font-size: 14px;

    color: var(--text-color);
    margin-top: 25px;
    padding-bottom: 20px;
}
.author-list span:first-child {
    display: inline-block;
    width: 150px;
    color: var(--primary-dark);
}
.author-list span {
    color: var(--text-color);
    font-size: 14px;
}
.all-books-btn {
    background-color: var(--primary-light);
    color: #fff;
    font-weight: 600;
    border-radius: 25px;
    border: 1px solid var(--primary-light);
}
.all-books-btn:hover {
    background-color: #fff;
    color: var(--primary-light);
    font-weight: 600;
    border-radius: 16px;
}
/* Author CSS END */

.single-contact {
    padding: 30px 20px;
    background-color: var(--bg-gray);
    height: 100%;
}
.contact-icon i {
    font-size: 25px;
    color: #fff;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-light);
    border-radius: 50%;
    margin: 0 auto;
}
.single-contact h4 {
    font-size: 18px;
    color: var(--primary-dark);
    font-weight: 600;
    margin-top: 15px;
}
.single-contact p {
    font-size: 14px;
    color: var(--text-color);
    margin-top: 18px;
}
.map-n-form {
    margin-top: 30px;
}
.map-n-form {
    background-color: var(--bg-gray);
}
.contact-form div input,
textarea {
    display: flex;
    width: 100%;
}
.contact-input {
    border: 1px solid var(--text-color);
}
.contact-input:focus {
    border: 1px solid var(--primary-light);
    box-shadow: none;
}
.send-btn button {
    background-color: var(--primary-light);
    border: 1px solid var(--primary-light);
    color: #fff;
    font-weight: 600;
    border-radius: 20px;
}
.send-btn button:hover,
.send-btn button:focus {
    background-color: #fff;
    border: 1px solid var(--primary-light);
    color: var(--primary-light);
    font-weight: 600;
    border-radius: 20px;
}
footer {
    background-color: rgb(29, 29, 29);
    color: #fcf3f3;
    font-size: 14px;
}
.footer-about p {
    margin-top: 40px;
}
.footer-about .social-icons {
    margin-top: 40px;
}
.footer-about .social-icons a {
    color: var(--bg-gray);
    font-size: 20px;
    padding: 5px;
    margin: 0 5px;
}
.footer-links ul,
.footer-contact ul {
    padding-left: 0;
    margin-top: 40px;
}
.footer-links ul li,
.footer-contact ul li {
    list-style: none;
    margin: 10px 0;
}
.footer-links ul li a {
    color: var(--bg-gray);
}
.footer-contact ul li {
    display: flex;
}
.footer-contact ul li span:first-child {
    margin-right: 20px;
}
.footer-copyright {
    padding: 50px 0;
}
